:root{
--primary-text-color: #212121;
--secondary-text-color: #757575;
--primary-white-color: #FFFFFF;
--secondary-white-color: #F5F4FA;
--thirdly-white-color: #ECECEC;
--accent-color: #2196F3;
--logo-color: #000000;
--bg-color: #2F303A;

}

body{
background-color: var(--primary-white-color);

}

.section .title{
color: var(--primary-text-color);
}

.list{
    list-style: none;
}

/* Logo */
.logo{
    color: var(--logo-color);
}
.logo-word{
    color: var(--accent-color);
}

/* Site nav */
.site-nav .link{
    color: var(--primary-text-color);
}

.contacts .link{
    color: var(--secondary-text-color);
}

.contacts .link:hover,.contacts .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

/* Hero */
.hero{
    background-color: var(--bg-color);
}

.hero-title{
    color: var(--primary-white-color);
}

.hero > .button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Features */

.feature-list{
    list-style: none;
    color: var(--secondary-text-color);
}


/* What do we do?  */
.communicate-list{
    list-style: none;
}

/* Our team */

.team-list{
    color: var(--secondary-text-color);
    list-style: none;
}

.team-list .title{
    color: var(--primary-text-color);
}

/* Footer */
.footer{
    background-color: var(--bg-color);
}

.footer-logo{
    color: var(--primary-white-color);
}

.address .street{
    color: var(--primary-white-color);
}

/* Categories */

.categories-list{
    list-style: none;
}

.categories-list .primary{
    color: var(--primary-text-color);
    background-color: var(--secondary-white-color);
}

.categories-list .primary:active{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.categories-list .current{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.categories{
    color: var(--secondary-text-color);
}

.categories .title{
    color: var(--primary-text-color);
}